<%= simple_form_for(@check_in) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :cidade %>
    <%= f.input :descricao %>
    <%= f.input :detalhes %>
    <%= f.input :validade %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
