<h1>Listing check_ins</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Cidade</th>
      <th>Descricao</th>
      <th>Detalhes</th>
      <th>Validade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @check_ins.each do |check_in| %>
      <tr>
        <td><%= check_in.user %></td>
        <td><%= check_in.cidade %></td>
        <td><%= check_in.descricao %></td>
        <td><%= check_in.detalhes %></td>
        <td><%= check_in.validade %></td>
        <td><%= link_to 'Show', check_in %></td>
        <td><%= link_to 'Edit', edit_check_in_path(check_in) %></td>
        <td><%= link_to 'Destroy', check_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Check in', new_check_in_path %>
