<h1>Listing demandas</h1>

<table>
  <thead>
    <tr>
      <th>Cidade</th>
      <th>User</th>
      <th>Descricao</th>
      <th>Validade</th>
      <th>Cidade origem</th>
      <th>Correspondente</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @demandas.each do |demanda| %>
      <tr>
        <td><%= demanda.cidade %></td>
        <td><%= demanda.user %></td>
        <td><%= demanda.descricao %></td>
        <td><%= demanda.validade %></td>
        <td><%= demanda.cidade_origem %></td>
        <td><%= demanda.correspondente %></td>
        <td><%= demanda.status %></td>
        <td><%= link_to 'Show', demanda %></td>
        <td><%= link_to 'Edit', edit_demanda_path(demanda) %></td>
        <td><%= link_to 'Destroy', demanda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Demanda', new_demanda_path %>
